<div class="stickyhead" [formGroup]="form">
<!--    <pre>{{form.value | json}}</pre>-->
    <table class="table table-hover">
        <thead>
<!--        <tr>-->
            <th scope="col">N</th>
            <th scope="col">nro</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
<!--        </tr>-->
        </thead>
        <tbody>
        <ng-container formArrayName="items" *ngFor="let item of items.controls; let i = index">
            <ng-container [formGroupName]="i" >
                <tr>
                    <td appTableKeys>
                        <label>Item {{ i + 1 }}:</label>
                    </td>
                    <td appTableKeys>
                        <input formControlName="nro" placeholder="nro">
                    </td>
                    <td appTableKeys>
                        <input formControlName="code" placeholder="code">
                    </td>
                    <td appTableKeys>
                        <input formControlName="name" placeholder="name">
                    </td>
                    <td appTableKeys>
                        <button class="border-0" (click)="addItem()">Add Sub-Item</button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>

        </tbody>
    </table>
</div>
